<div class="storyCard-content">
    <h3>{{ this.title }}</h3>
    <div class="first">
        <div class="second">
            <div class="third">
                <img src="{{ author.picture_url }}" alt="{{ this.author.username }}" class="user-img">
            </div>
            <div class="forth">
                <p>{{ this.author.username }}</p>
                <p>Last Update: {{dateFormat this.updatedAt "MM/DD/YYYY hh:m a"}}</p>
            </div>
        </div>
        <hr>
        <div class="fifth">
            <h5>{{ this.chapters.0.content }}</h5>
        </div>
    </div>

    <div class="sixth">
        <a href="/stories/{{this._id}}">
            {{#if this.chapterCount}}
            <button id="btn-add">Add your chapter</button>
            {{else}}
            <button id="btn-read">Read stories</button>
            {{/if}}
        </a>
    </div>
</div>