<div class="storyCard-content">
    <h3> {{ this.title }}</h3>
    {{log this}}
    <h5>{{ this.chapters.0.content }}</h5>
    <img src="{{ author.picture_url }}" alt="{{ this.author.username }}" class="user-img">
    <p>Author: {{ this.author.username }}</p>
    <p>Last Update: {{dateFormat this.updatedAt "MM/DD/YYYY hh:m a"}}</p>
    <a href="/stories/{{this._id}}">
        {{#if this.chapterCount}}
        <button id="btn-add">Add chapter</button>
        {{else}}
        <button id="btn-read">Read story</button>
        {{/if}}
    </a>
</div>