<form action=“/chapters/{{chapterToUpdate._id}}/edit” method=“post”>
  <h2>{{story.title}}</h2>
  <img src=“{{chapterToUpdate.author.picture_url}}” alt=“{{chapterToUpdate.author.username}}” class=“user-img”>
  <p>{{chapterToUpdate.author.username}}</p>
  <textarea id=“content” name=“content” rows=“20" cols=“42”>{{chapterToUpdate.content}}</textarea>
  <input type=“submit” value=“Edit”>
</form>