<section id="onestory">
  <div class="onstory-content">
  <h2>{{title}}</h2>
  {{#each chapters}}

  <p>{{this.content}}</p>
  <p>{{this.author.username}}</p>
  <img src="{{this.author.picture_url}}" alt="{{this.author.username}}">
  {{/each}}
      <p>title:</p><h3>{{this.title}}</h3>
      <p style="color: red">{{this.chapters.0.content}}</p>
      <p>Author: {{ this.author.username }}</p>
      <p>Last Update: {{dateFormat this.updatedAt "MM/DD/YYYY hh:m a"}}</p>
      <textarea placeholder="Add a new chapter"></textarea>
      <button class="btn-add"><a href='/stories/:storyId' >Add</a></button>
      <button class="btn-read">Edit</button>
      <button class="btn-read">Delete</button>
  </div>
</section>
