<div class="container">
  <section id="profile-title">
    <h1>Hi! <span>{{currentUser.username}}</span></h1>
  </section>
    <div class="content">
      <section id="create-story">
          <form action="/profile" method="post">
            <label for="title">Your story's title</label><br>
            <input type="text" name="title" id="title" placeholder="Title"/>
            <label for="sujet"></label>
            <textarea id="story" name="story" placeholder="The first chapter of your story"
          rows="40" cols="30">
</textarea>
            <div class="operation">
              <button id="button-create-story">Create your Story</button>
            </div>
          </form>
      </section>
      <section id="continue-story">
            <form action="/profile" method="post">
            <label for="sujet"></label>
            <textarea id="chapter" name="chapter" placeholder="Add another chapter"
          rows="40" cols="30">
</textarea>
            <div class="operation">
              <button id="button-continue-story">Continue</button>
            </div>
          </form>
      </section>
      <section id="read-story">
          <form action="" method="post">
            <div class="story-container">
              <div class="story-info">
                <label for="title">Story's title:</label>
                <div class="title-story"><h1>This is the first and the last time dinner with him</h1></div>
                <label for="story"></label>
                <label for="author">Author: <span>Marianne Romi Ines Flo Haroun</span></label><br>
                <div class="story-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusantium aliquid pariatur. Dolorem, ipsum quas mollitia laudantium earum amet modi recusandae omnis ut architecto autem, eveniet saepe cumque, delectus deserunt.</div>
                <label for="update">Last Update: <span>2023/02/20</span></label><br>
                <label for="count">Number of chapters: <span>25</span></label>
                <div class="operation">
                <button id="button-read-story">Read the all story</button>
                
              </div>
            </div>
          </form>
      </section>
    </div>
      <h2>Stories to continue</h2>
      {{#each toContinue}}
        <div>Title: {{title}}</div>
        <p>Authors: 
        {{!-- {{#each chapters}}
          {{author.username}}&nbsp;
        {{/each}} --}}

        </p>
        {{#each chapters}}
          <small>{{author.username}} <img src="{{author.picture_url}}" alt=""></small>
          <p>{{content}}</p>
        {{/each}}

      {{/each}}

      <h2>Finished stories</h2>

      {{#each finishedStories}}
        <div>Title: {{title}}</div>
        {{#each chapters}}
          <p>{{content}}</p>
        {{/each}}

      {{/each}}

<!-- Template to create story -->
      <template id="template">
        <div class="story-info">
          <div class="story-title">Title: <span></span></div>
          <div class="story-author">Author: <span></span></div>
          <div class="story-update">Last update: <span></span></div>
          <div class="story-count">Number of chapters: <span></span></div>
          <div class="story-content">Story: <span></span></div>
        </div>
      </template>
</div>
